* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    flex-direction: column;
    display: flex;
}
header {
    background-color: rgb(98, 13, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    height: 20%;
}

nav {
    background-color: rgb(10, 129, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: row;
    height: 100%;
    width: 10%;
}

main {
    background-color: aqua;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 10%;
    height: 60%;
}

footer {
    background-color: rgb(86, 69, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin-left: 10%;
}



